.card {
  box-shadow: none !important;
  text-align: center;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 9%;
}

.circle-form {
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.input-toolbar {
  --border-color: white;
}

.send-button {
  --padding-bottom: 0;
  --paddind-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}
